<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Modify</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="stylesheet" href="/assets/css/main.css" />
	<!-- <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap.css" /> -->
	<script type="text/javascript" src="/assets/js/reply.js"></script>
	<link rel="shortcut icon" type="image/x-icon" href="/assets/favi/WoW.ico" />
</head>
<body class="no-sidebar is-preload">
	<div id="page-wrapper">

		<!-- Header -->
		<section id="header">
			<div th:if="${session.memberLogin == null}" style="display: flex; justify-content: flex-end;">
				<p style="margin-right: 10px; line-height: 30px; margin: 0;">로그인 되어있지 않습니다.</p>
			    <form th:action="@{/login/loginForm#login_page}" method="get">
			        <input type="submit" value="Log-In" style="width: 80px; height: 30px; text-align: center; padding: 0; margin-left: 10px;">
			    </form>
			</div>
			<div th:if="${session.memberLogin != null}" style="display: flex; justify-content: flex-end; align-items: center;">
				<p style="margin-right: 10px; line-height: 30px; margin: 0;"><span th:text="${session.memberLogin.user_name}"></span>님 환영합니다</p>
				<form th:action="@{/login/logout}" method="post" style="margin-left: 10px;">
					<input type="submit" value="LogOut" id="logout" style="width: 80px; height: 30px; text-align: center; padding: 0;">
				</form>
			</div>
			<div class="container">

				<!-- Logo -->
				<h1 id="logo"><a href="/board/boardlist">Board</a></h1>
				<p>Free to Talk</p>

				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a class="icon solid fa-home" href="/index"><span>Home</span></a></li>
						<li th:if="${session.memberLogin != null and session.memberLogin.user_auth == '1'}"><a class="icon solid fa-home" href="/admin/index_admin"><span>Admin</span></a></li>
						<li><a class="icon solid fa-cog" href="/player/playlist"><span>Player</span></a></li>
						<li><a class="icon solid fa-retweet" href="/board/boardlist"><span>Board</span></a></li>
						<li><a class="icon solid fa-sitemap" href="/login/loginForm"><span>Sign up</span></a></li>
						<li th:if="${session.memberLogin != null}"><a class="icon fa-chart-bar" href="/mypage/myPageForm"><span>My Page</span></a></li>
					</ul>
				</nav>

			</div>
		</section>

		<!-- Main -->
		<section id="main">
			<div class="container">
				<div id="content">

					<!-- Post -->
					<article class="box post">
						<header>
							<h2><strong>내용 및 제목 수정</strong></h2>
						</header>
						<form action="/board/modify" method="post">
							<table class="wrap" th:object="${board}">
								<tr>
									<th>번호</th>
									<td>
										<input type="hidden" name="bno" th:field="*{bno}">
										<span th:text="*{bno}"></span>
									</td>
								</tr>
								<tr>
									<th>타이틀</th>
									<td><input name="title" type="text" th:value="*{title}" /></td>
								</tr>
								<tr>
									<th>내용</th>
									<td><textarea name="content" style="resize:none;" rows="6" cols="100" th:field="*{content}" ></textarea></td>
								</tr>
								<tr>
									<th>작성자</th>
									<td>
										<input name="user_name" type="hidden" th:value="*{user_name}" readonly/>
										<span th:text="*{user_name}"></span>
									</td>
								</tr>
								<tr>
									<td colspan="2">
										<input type="submit" value="수정완료" th:if="${session.memberLogin != null}">
									</td>
								</tr>
							</table>
						</form>
					</article>

				</div>
			</div>
		</section>

		<!-- Footer -->
			<section id="footer">
				<div class="container">
					<header>
						<h2>Questions or comments? <strong>Get in touch:</strong></h2>
					</header>
					<div class="row">
						<div class="col-6 col-12-medium">
							<section>
								<form method="post" action="#">
									<div class="row gtr-50">
										<div class="col-6 col-12-small">
											<input name="name" placeholder="Name" type="text" />
										</div>
										<div class="col-6 col-12-small">
											<input name="email" placeholder="Email" type="text" />
										</div>
										<div class="col-12">
											<textarea name="message" placeholder="Message"></textarea>
										</div>
										<div class="col-12">
											<a href="#" class="form-button-submit button icon solid fa-envelope">Send Message</a>
										</div>
									</div>
								</form>
							</section>
						</div>
						<div class="col-6 col-12-medium">
							<section>
								<p>Erat lorem ipsum veroeros consequat magna tempus lorem ipsum consequat Phaselamet
								mollis tortor congue. Sed quis mauris sit amet magna accumsan tristique. Curabitur
								leo nibh, rutrum eu malesuada.</p>
								<div class="row">
									<div class="col-6 col-12-small">
										<ul class="icons">
											<li class="icon solid fa-home">
												1234 Somewhere Road<br />
												Nashville, TN 00000<br />
												USA
											</li>
											<li class="icon solid fa-phone">
												(000) 000-0000
											</li>
											<li class="icon solid fa-envelope">
												<a href="#">info@untitled.tld</a>
											</li>
										</ul>
									</div>
									<div class="col-6 col-12-small">
										<ul class="icons">
											<li class="icon brands fa-twitter">
												<a href="#">@untitled</a>
											</li>
											<li class="icon brands fa-instagram">
												<a href="#">instagram.com/untitled</a>
											</li>
											<li class="icon brands fa-dribbble">
												<a href="#">dribbble.com/untitled</a>
											</li>
											<li class="icon brands fa-facebook-f">
												<a href="#">facebook.com/untitled</a>
											</li>
										</ul>
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>
				<div id="copyright" class="container">
					<ul class="links">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</section>

	</div>

	<!-- Scripts -->
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/jquery.dropotron.min.js"></script>
	<script src="/assets/js/browser.min.js"></script>
	<script src="/assets/js/breakpoints.min.js"></script>
	<script src="/assets/js/util.js"></script>
	<script src="/assets/js/main.js"></script>

</body>
</html>



























